.list{
  list-style: none;
  font-size: 24px;
  line-height: 1.5;
  color: #2F4F4F;
}

.list__item{
  border-radius: 5px;
  width: 50%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1), color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.list__item:nth-child(odd):hover,
.list__item:nth-child(even):hover,
.list__item:nth-child(odd):focus,
.list__item:nth-child(even):focus{
  cursor: pointer;
  background-color: #6495ED;
  color: #fff;
  transform: scale(1.015);
}

.list__item:not(:last-child){
  margin-bottom: 5px;
}

.list__item:nth-child(odd){
  background-color:#D8BFD8;
}

.list__item:nth-child(even){
  background-color: #AFEEEE;
}